name: AMD GPU

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "test/**"
  pull_request:
    branches:
      - main
    paths:
      - "src/**"
      - "test/**"
  merge_group:
    branches:
      - main
  workflow_dispatch:  # Enables manual trigger

concurrency:
  # This causes it to cancel previous in-progress actions on the same PR / branch,
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.event.merge_group.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: linux-mi300-gpu-1
    strategy:
      matrix:
        rocm_version: ['6.3']

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'

    - name: Setup Dependencies
      run: |
        rocm-smi
        python -m pip install --upgrade pip
        pip install -e .[dev]
        pip3 install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/rocm${{ matrix.rocm_version }}/
    
    - name: List Python Environments
      run: python -m pip list
    
    - name: Run Unit Tests
      run: |
        make test
        make test-convergence
